
/* columns view css mod by cannibalox v0.3  20220506 */
/* SETTINGS: adjust width of cards below*/

	:root {
		--mod-cards-width: 252px;
		}  

/* ============================= */
/* ==== columns view layout ==== */
/* ====================-======== */

[data-page-tags*=".p-cards"] .block-children.w-full {
        flex-wrap: wrap;
        flex-direction: row;
    } 
[data-page-tags*=".p-cards"] .ls-block[level="2"] {
		display:inline-block;
		width: var(--mod-cards-width); 
		vertical-align: top;
        box-shadow: 2px 2px 3px #0000003b;
		border: 1px solid black;
		border-radius: 6px;
		background-color: var(--ls-tertiary-background-color);
        padding: 10px 0px 0px 0px;
	}
[data-page-tags*=".p-cards"] .embed-block .ls-block {
		display: inline;
	}

[data-page-tags*=".p-cards"] .block-children .ls-block {
		border: 0px solid var(--ls-secondary-text-color);
		margin: 4px;
	}

