/*===================================================*/     
/*= highlight current path by cannnibalox v20210220 =*/ 
/*====== option: (:hover) to (:focus-whithin) =======*/

.ls-block .bullet{
    background-color:#dd0707;
}

.ls-block:not(:hover) .bullet{
    background-color:var(--ls-block-bullet-color);
}

/*--- highlight indentation line - remove if not useful ---*/
/*---- tweak left: and top: offset to match yout theme ----*/
.blocks-container > div:not(:first-child) .ls-block:hover > div:first-child .bullet:before{
    content : "└─";
	color:#6e2222;
	display: inline-block;
	left: -20px;
	top: -10px;
	width: 30px;
	position: relative;
}
.ls-block > .block-children:hover {
	border-left-color:#6e2222;
	border-left-width: 2px;
}

