:root {
	--bgcolor: #252528;
	--bgcolor-alt: #202023;
	--bgcolor-alt2: #353538;
	--bgcolor-alt3: #282A36;
	--bghover: #202023;
	--bgselected: #252528;
	--text-color: #BEBEBF;
	--text-muted: #BEBEBF;
	--text-hover:#feb86cd4;
	--text-accent:#BEBEBF;
	--text-accent2:#BEBEBF;
	--text-contrast:#BEBEBF;
    --text-accent3: #feb86cd4;
	--text-links: #94c862c9;
	--border: #374d57;
	--highlight:#BEBEBF;
    --tagpills:#84A9DA;
}
html {
    font-family: Cairo, Inter,sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
}	
.dark-theme {
    color: var(--text-color);
}	
.dark-theme .bg-base-3 {
    background-color: var(--bgcolor);
}
/*====NW search====*/
.dark-theme #search-wrapper {
    color: var(--text-muted);
}
.dark-theme #search_field {
    color: #BEBEBF;
    background: 0 0;
    background-color: var(--bgcolor-alt) !important;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
	margin-left: 0px;
	height:36px;
	margin-top:7px;
	padding-left: 3em !important;
	width:300px;
}
.left-0 {
    left: 9px;
}
/*===    ====*/
.dark-theme a, .dark-theme button.menu {
    color: #acb5b7;
}
.dark-theme a:hover {
    color: var(--text-hover);
}
.dark-theme a.menu-link:hover, .dark-theme button.menu:focus, .dark-theme button.pull:hover {
    background-color: var(--bghover);
}
.dark-theme a.chosen {
    background: var(--bgselected);
    background-color: var(--bgselected);
}
/*=== h1 h2 ====*/
.dark-theme .page-references h2, .dark-theme h1.title {
    color: var(--text-accent);
}
/* === page ref ===*/
span.page-reference a.page-ref {
    color: var(--text-accent3);    
    }
/*=== h1 h2 ====*/
.dark-theme hr {
    border-color: var(--border);
}
/*=== highlights ====*/
mark {
    background: var(--highlight);
}
/* === links ====*/ 	
.dark-theme .content a {
    color: var(--text-links);
}	
/* === bullets ====*/ 	
.dark-theme .bullet-container .bullet {
    background-color: var(--text-accent2);
}
/* === tags ====*/ 
a.tag {
    opacity: 1;
	color: white !important;
    background-color: var(--tagpills);
    border: none;
    font-size: 10px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px 0px 0px;
    height: 15px;
    cursor: pointer;
    border-radius: 14px;
}
.tag:hover {
    color: white;
    background-color: var(--text-links);
}
a.tag[href*="important"] {
  background-color: #af1414;
}    
a.tag[href*="inprogress"] {
  background-color: #c38b0a;
}       
a.tag[href*="done"] {
  background-color: #24bb0a;
}      

/*=== tree lines ===*/	
.dark-theme .block-children {
    border-left: 1px solid var(--border);
}
/* === backlinks box ====*/ 	
.dark-theme .bg-base-2 {
    background-color: var(--bgcolor-alt);
	font-size:13px;
}
/* === blockquote ====*/ 	
.dark-theme blockquote {
    background-color: var(--bgcolor-alt2);
    border-left: 3px solid var(--text-accent2);
}
/* === quote block important === */
.admonitionblock {
    margin: 1rem 0;
}
.pr-4 {
    padding-right: 0.7rem;
}
/* === codeblocks ====*/ 	
.dark-theme .non-block-editor textarea, .dark-theme pre, .dark-theme pre.code {
    background: var(--bgcolor-alt3)
}
.dark-theme :not(pre)>code {
    background: var(--bgcolor-alt3);
    color: #84A9DA;
}

/* === right-sidebar ===*/
.dark-theme #right-sidebar {
    background-color: var(--bgcolor);
	border-left: 1px solid var(--border);
}
.dark-theme #right-sidebar .sidebar-item {
    border-top: 1px solid var(--border);
}
.dark-theme th {
    color: #f00;
	background-color: var(--bgcolor-alt3);
	border-bottom: 1px solid var(--border);
}	
.dark-theme #right-sidebar .non-block-editor textarea, .dark-theme #right-sidebar pre, .dark-theme #right-sidebar pre.code {
    background:  var(--bgcolor-alt3);
}
    
.dark-theme th {
    color: var(--text-contrast);
}    
    
.dark-theme tr:nth-child(2n),
.dark-theme tr:nth-child(2n+1) {
    background: var(--bgcolor-alt);
	border-bottom: 1px solid var(--border);
}
/* === rscrollbars===*/
.dark-theme ::-webkit-scrollbar-track-piece{
    background-color:var(--bgcolor-alt);border:0px solid #001f27;border-radius:0px
    }
.dark-theme ::-webkit-scrollbar-thumb:hover{
    background-color:rgba(180,180,180,.4)
    }
.dark-theme ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 0px;
    background-clip: padding-box;
    min-height: 28px;
}  
/* ==== scrollbar FF ====*/
:root {
    scrollbar-color: var(--border) var(--bgcolor-alt2) !important;
	scrollbar-width: auto !important;
}
/*=====settings===*/
.dark-theme .form-select {
    background-color: var(--text-accent2);
    background-repeat: no-repeat;
}
.border-gray-300 {
    --border-opacity: 1;
    border-color: #d2d6dc;
    border-color: rgba(210,214,220,0);
}   
.form-input {
    appearance: none;
    background-color: #fff;
    border-color: #d2d6dc;
    border-width: 0px;
    border-radius: .375rem;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
/* === NE top bar ===*/
.bg-green-600 {
    --bg-opacity: 1;
    background-color: #f00;
    background-color: rgba(65,180,65,var(--bg-opacity));
}
/* === NE top bar ===*/
.opacity-50 {
    opacity: 1;
    color: var(--text-accent3);
}
.block-parents.flex-row.flex a {
    opacity: 1;
    color: var(--text-accent);
}
/* === checkboxes ===*/
.form-checkbox {
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    border-color: var(--text-accent2) !important;
	background-color: var(--bgcolor-alt2) !important;
    border-width: 1px;
    border-radius: 50%;
}
/* === to do  ===*/
.marker-switch {
    font-size: 80%;
    margin-right: 6px;
    margin-left: 2px;
    border-radius: 3px;
    font-weight: 700;
    display: inline-block;
    width: 17px;
    height: 20px;
    opacity: 0.75;
    padding: 0 2px 0 3px;
    border: 1px solid;
}
#later, #doing {
	color: #ff8400;		
}
#now, #todo {
	color: #BEBEBF;	
	font-weight: 700;
}
#waiting {
	color: #fae257;		
	}
#done {
	color: #BEBEBF;		
	}
#canceled {
	color: #21a8e6;		
	}
.done {
	color: #BEBEBF !important;		
}